<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
    <context-param>
        <param-name/>
        <param-value/>
    </context-param>

    <!--配置DispatcherServlet -->
	<servlet>
		<servlet-name>spring-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 配置SpringMVC需要加载的配置文件 spring-xxx.xml -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!--默认匹配所有的请求 -->
	<servlet-mapping>
		<servlet-name>spring-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--过滤-->
	<filter>
		<filter-name>islogin</filter-name>
		<filter-class>com.web.publicMethods.islogins</filter-class>
	</filter>
	<!--需要登录的请求 -->
	<filter-mapping>
		<filter-name>islogin</filter-name>
		<url-pattern>/public/*</url-pattern>
	</filter-mapping>






	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>